<div class='w-full max-w-lg px-10 py-8 mx-auto my-4 rounded-lg shadow-xl bg-red-100'>
  <div class='max-w-md mx-auto'>

    <!-- Component starts here -->
    <h2 class="flex flex-row flex-nowrap items-center my-2">
      <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
      <span class="flex-none block mx-4 px-4 py-2.5 text-xl leading-none font-medium uppercase bg-black text-white">
        <%= heading %>
      </span>
      <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
    </h2>
    <!-- Component ends here -->

  </div>
</div>