<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
   <div>
        Based on our prediction we feel that u might be going through xxx addiction.
    
        Please keep this code with you. You should fill it in the enrollment form, else you might have to take the survey
        again!
   </div>
    <div class="flex justify-center text-lg font-bold p-10">
        <%= id %>
    </div>
</body>

</html>